// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.articles__item {
  margin-bottom: 30px;
}

.articles__item:last-child {
  margin-bottom: 0;
}

.articles__item h2 {
  margin-bottom: 15px;
}
